<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rigobertosl.nevergiveapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AchievementsActivity"
            android:label="@string/title_activity_achievements"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FoodsActivity"
            android:label="@string/title_activity_foods"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TrainingActivity"
            android:label="@string/title_activity_training"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExercisesTypeActivity"
            android:label="@string/title_activity_exercisies_type"
            android:parentActivityName=".TrainingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChestActivity"
            android:label="@string/title_activity_chest"
            android:parentActivityName=".ExercisesTypeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EspaldaActivity"
            android:label="@string/title_activity_espalda"
            android:parentActivityName=".ExercisesTypeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TableResumeActivity"
            android:label="@string/title_activity_scrolling"
            android:parentActivityName=".TrainingActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>